html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2a2c1f;
}

.agent-icon {
  margin-left: 4px;
}

.cart {
  color: #2a2c1f;
  border: 1px solid #f5f5f2;
  border-radius: 6px;
  width: 100px;
  height: 42px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.cart:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.form__btn {
  font-size: 20px;
  color: #fff;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  width: 154px;
  height: 50px;
  background-color: #cf6f49;
  margin-left: 16px;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.form__btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.comfort__btn {
  color: #2a2c1f;
  border: 1px solid #e7e8e3;
  border-radius: 6px;
  width: 192px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.comfort__btn:hover {
  cursor: pointer;
}

.families-btn {
  color: #fff;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  width: 137px;
  height: 50px;
  background: #cf6f49;
  margin: auto;
  display: block;
  margin-top: 24px;
}
.families-btn:hover {
  cursor: pointer;
}

.blog__btn {
  width: 108px;
  height: 50px;
  border: 1px solid #e7e8e3;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.blog__btn:hover {
  cursor: pointer;
}

.footer__form-btn {
  border: 1px solid #cf6f49;
  border-radius: 6px;
  width: 127px;
  height: 50px;
  background: #cf6f49;
  color: #fff;
  margin-bottom: 15px;
}
.footer__form-btn:hover {
  cursor: pointer;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  display: flex;
  align-items: center;
}

.subtitle-wrapper {
  border-radius: 32px;
  width: 100%;
  background: #e7e8e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.magazine__container {
  display: flex;
}

.property__list-container {
  padding-left: 24px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.blog__description-wrapper {
  display: flex;
  margin-bottom: 77px;
  justify-content: space-between;
}

.type-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer__container {
  display: flex;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .nav__list {
  display: flex;
  margin-right: 24px;
}
.nav .nav__list .nav-list__item:not(:last-child) {
  margin-right: 30px;
}
.nav .nav__list .nav__list-link {
  color: #2a2c1f;
  transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nav .nav__list .nav__list-link:hover {
  color: #e67919;
  fill: #e67919;
}
.nav .nav__list .properties__icon {
  margin-left: 4px;
}
.nav .nav__list .search__link-icon {
  margin-right: 4px;
}
.nav .nav__buy-list {
  display: flex;
  align-content: center;
}
.nav .nav__buy-list .nav__cart-icon {
  margin-right: 4px;
}
.nav .nav__buy-list .find-property {
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 159px;
  height: 42px;
  background: #cf6f49;
  margin-left: 16px;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.nav .nav__buy-list .find-property:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.hero {
  background-color: #f5f5f2;
  position: relative;
}
.hero .hero__content-wrapper {
  margin-right: 164px;
}
.hero .top-corner {
  position: absolute;
  top: 0;
  left: 0;
}
.hero .hero__subtitle-wrapper {
  width: 171px;
  height: 29px;
}
.hero .hero__subtitle-wrapper .hero__subtitle {
  font-size: 14px;
  color: #2a2c1f;
  text-align: center;
}
.hero .hero__title {
  width: 516px;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.2;
  color: #2a2c1f;
  margin-bottom: 20px;
}
.hero .hero__info {
  width: 503px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #65665c;
  margin-bottom: 20px;
}
.hero .form {
  position: relative;
}
.hero .search__form-icon {
  position: absolute;
  left: 19px;
  top: 15px;
}
.hero .form__input {
  font-size: 20px;
  color: #65665c;
  border: 1px solid #e7e8e3;
  border-radius: 6px;
  width: 310px;
  height: 48px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding-left: 56px;
}
.hero .form__input:focus {
  outline: none;
}
.hero .bottom-corner {
  position: absolute;
  left: 872px;
  bottom: 0px;
}

.work__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #2a2c1f;
}

.work__info {
  width: 754px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #65665c;
  margin: auto;
  margin-top: 21px;
  margin-bottom: 61px;
}

.work__list {
  display: flex;
}
.work__list .work__list-item {
  border: 1px solid #e7e8e3;
  border-radius: 16px;
  width: 405px;
  height: 291px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-right: 32px;
  transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.work__list .work__list-item:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.work__list .work__list-item .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background: #fae8e1;
  margin-top: 49px;
  margin-left: 170px;
  margin-bottom: 24px;
}
.work__list .work__list-item .work__item-title {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: #2a2c1f;
}
.work__list .work__list-item .work__item-info {
  width: 338px;
  margin: auto;
  line-height: 1.5;
  text-align: center;
  color: #65665c;
  margin-top: 20px;
}

.comfort {
  padding-top: 128px;
  padding-bottom: 128px;
}
.comfort .comfort__wrapper {
  width: 107px;
  height: 29px;
}
.comfort .comfort__wrapper .comfort__subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: #2a2c1f;
}
.comfort .comfort__title {
  width: 453px;
  font-size: 48px;
  line-height: 1.2;
  color: #2a2c1f;
  margin-bottom: 28px;
}
.comfort .comfort__info {
  width: 520px;
  font-size: 18px;
  line-height: 1.5;
  color: #65665c;
  margin-bottom: 21px;
}
.comfort .comfort__img {
  margin-left: 80px;
}

.comfort__link {
  color: #2a2c1f;
  margin-left: 24px;
}

.quick {
  padding-bottom: 128px;
}
.quick .quick__container {
  margin-left: 80px;
}
.quick .quick__container .quick__subtitle-wrapper {
  width: 127px;
  height: 29px;
}
.quick .quick__container .quick__subtitle-wrapper .quick__subtitle {
  line-height: 1.5;
  color: #2a2c1f;
}
.quick .quick__container .quick__title {
  font-size: 48px;
  line-height: 1.2;
  color: #2a2c1f;
  margin-bottom: 30px;
}
.quick .quick__container .quick__info {
  width: 600px;
  font-size: 18px;
  line-height: 1.5;
  color: #65665c;
  margin-bottom: 28px;
}
.quick .quick__container .quick__list {
  display: flex;
  margin-top: 101px;
  margin-bottom: 30px;
}
.quick .quick__container .quick__list .quick__list-item {
  margin-right: 67px;
}
.quick .quick__container .quick__list .quick__list-item:first-child {
  width: 245px;
}
.quick .quick__container .quick__list .quick__list-item:last-child {
  width: 285px;
}
.quick .quick__container .quick__list .quick__item-title {
  font-size: 20px;
  line-height: 1.4;
  color: #2a2c1f;
  margin-bottom: 18px;
}
.quick .quick__container .quick__list .quick__item-info {
  line-height: 1.5;
  color: #65665c;
}

.properties {
  background-color: #f5f5f2;
  padding-top: 128px;
  padding-bottom: 160px;
  position: relative;
}
.properties .properties__img {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: -5px;
}
.properties .properties__subtitle-wrapper {
  width: 92px;
  height: 29px;
  margin: auto;
}
.properties .properties__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #2a2c1f;
  margin-top: 21px;
  margin-bottom: 80px;
}
.properties .properties__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.properties .properties__list .properties__list-item {
  flex-basis: calc((100% - 64px) / 3);
  border-radius: 12px;
  width: 405px;
  height: 460px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.properties .properties__list .properties__list-item .property__item-title {
  font-size: 24px;
  line-height: 1.4;
  color: #2a2c1f;
  margin-top: 23px;
}
.properties .properties__list .properties__list-item .property__item-cost {
  font-weight: 700;
  line-height: 1.5;
  color: #2a2c1f;
  font-size: 18px;
  margin-bottom: 16px;
}
.properties .properties__list .properties__list-item .address-link {
  font-style: normal;
  line-height: 1.5;
  color: #65665c;
  display: flex;
  align-items: center;
}
.properties .properties__list .properties__list-item .address-link .properties__item-icon {
  margin-right: 10px;
}
.properties .properties__list .properties__list-item .property__item-list {
  display: flex;
  margin-top: 16px;
}
.properties .properties__list .properties__list-item .property__item-list .characteristcs {
  line-height: 1.5;
  color: #65665c;
  margin-right: 24px;
}
.properties .properties__list .properties__list-item .property__item-list .characteristcs .item__list-icon {
  margin-right: 10px;
}
.properties .properties__bottom-corner {
  transform: rotate(90deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.location {
  padding-bottom: 336px;
  background-color: #f5f5f2;
}
.location .location-title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #2a2c1f;
}
.location .locations-info {
  width: 713px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #65665c;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 72px;
}
.location .locations__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.location .locations__list .locations__list-item {
  flex-basis: calc((100% - 32px) / 3);
  border: 1px solid #e7e8e3;
  border-radius: 16px;
  width: 416px;
  height: 130px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding-left: 33px;
}
.location .locations__list .locations__list-item .locations__item-title {
  font-size: 20px;
  line-height: 1.4;
  color: #2a2c1f;
  margin-top: 33px;
  margin-bottom: 11px;
}
.location .locations__list .locations__list-item .locations__item-properties {
  line-height: 1.5;
  color: #2a2c1f;
}

.magazines {
  padding-top: 67px;
  padding-bottom: 125px;
}
.magazines .magazine__title {
  width: 243px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #2a2c1f;
}
.magazines .magazine-list {
  display: flex;
  margin-left: 310px;
}
.magazines .magazine-list .magazine__list-item {
  margin-right: 32px;
}

.families {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
  background: #65665c;
  border-radius: 24px;
  width: 1280px;
  height: 465px;
  margin: auto;
  transform: translateY(-50%);
}
.families .families__icon {
  margin: auto;
  display: block;
}
.families .families__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 29px;
  margin-top: 13px;
}
.families .families__info {
  width: 765px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #e7e8e3;
  margin: auto;
}

.customers {
  padding-bottom: 160px;
}
.customers .customers__title {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #2a2c1f;
  margin-bottom: 26px;
}
.customers .customers__info {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #65665c;
  margin-bottom: 80px;
}
.customers .customers__list {
  display: flex;
}
.customers .customers__list .custmomers__list-item {
  border: 1px solid #e7e8e3;
  border-radius: 16px;
  width: 405px;
  height: 325px;
  margin-right: 32px;
  padding-left: 33px;
}
.customers .customers__list .custmomers__list-item .item__list-img {
  display: flex;
  margin-top: 33px;
  margin-bottom: 27px;
}
.customers .customers__list .custmomers__list-item .item__list-img .item__item-img {
  margin-right: 4px;
}
.customers .customers__list .custmomers__list-item .customers__item-comment {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #2a2c1f;
}
.customers .customers__list .custmomers__list-item .customers__info-wrapper {
  display: flex;
  align-items: end;
}
.customers .customers__list .custmomers__list-item .customers__info-wrapper .customers__item-img {
  width: 48px;
  height: 48px;
}
.customers .customers__list .custmomers__list-item .customers__info-wrapper .name-post {
  margin-left: 16px;
}
.customers .customers__list .custmomers__list-item .customers__item-name {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #2a2c1f;
}
.customers .customers__list .custmomers__list-item .customers__item-post {
  line-height: 1.5;
  color: #65665c;
}

.blog {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #f5f5f2;
}
.blog .blog__subtitle-wrapper {
  width: 53px;
  height: 29px;
}
.blog .blog__title {
  font-size: 48px;
  line-height: 1.2;
  color: #2a2c1f;
  margin-bottom: 30px;
}
.blog .blog__description {
  width: 710px;
  font-size: 18px;
  line-height: 1.5;
  color: #65665c;
}
.blog .blog__list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.blog .blog__list .blog__list-item {
  border: 1px solid #e7e8e3;
  border-radius: 16px;
  width: 405px;
  height: 531px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.blog .blog__list .blog__list-item .blog__img {
  width: 403px;
  height: 266px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper {
  padding-left: 24px;
  padding-top: 24px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .blog__item-type {
  border-radius: 32px;
  width: 40px;
  height: 29px;
  background: #fae8e1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .trends {
  width: 62px;
  height: 29px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .blog__item-data {
  font-size: 14px;
  line-height: 1.5;
  color: #65665c;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .blog__item-title {
  font-size: 24px;
  line-height: 1.4;
  color: #2a2c1f;
  margin-bottom: 10px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .diy-1 {
  width: 304px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .diy-2 {
  width: 315px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .blog__item-info {
  line-height: 1.5;
  color: #65665c;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .trends__info {
  width: 319px;
}
.blog .blog__list .blog__list-item .blog__item-wrapper .blog__item-more {
  font-weight: 700;
  line-height: 1.5;
  color: #2a2c1f;
  margin-top: 24px;
  display: block;
}

.footer {
  padding-top: 64px;
  padding-bottom: 24px;
}
.footer .footer__list {
  display: flex;
  margin-left: 95px;
}
.footer .footer__list-item {
  margin-right: 96px;
}
.footer .footer__list-link {
  margin-bottom: 16px;
  font-size: 14px;
  display: block;
  line-height: 1.5;
  color: #2a2c1f;
  transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer .footer__list-link:hover {
  color: #e67919;
}
.footer .footer__form {
  margin-left: 128px;
}
.footer .footer__form .footer__form-subscribe {
  line-height: 1.5;
  color: #2a2c1f;
}
.footer .footer__form .footer__form-info {
  line-height: 1.5;
  color: #65665c;
  margin-top: 10px;
  margin-bottom: 13px;
}
.footer .footer__form .footer__form-input {
  padding-left: 14px;
  border: 1px solid #e7e8e3;
  border-radius: 6px;
  width: 241px;
  height: 48px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-right: 9px;
}
.footer .footer__form .footer__form-input:focus {
  outline: none;
}
.footer .footer__form .footer__form-privacy,
.footer .footer__form .footer__form-link {
  font-size: 12px;
  line-height: 1.5;
  color: #65665c;
}
.footer .footer__form .footer__form-privacy .footer__form-link,
.footer .footer__form .footer__form-link .footer__form-link {
  margin-left: 5px;
}
.footer .footer__copyright {
  margin-left: 344px;
  display: block;
  width: 186px;
  margin-top: 64px;
}
.footer .footer__copyright,
.footer .footer__copyright-link {
  font-size: 14px;
  line-height: 1.5;
  color: #65665c;
}
.footer .footer__copyright-link {
  margin-left: 5px;
}/*# sourceMappingURL=main.css.map */