$font-family: "Roboto", sans-serif;
$second-family: "Material Icons", sans-serif;
$bg-color: #E7E8E3;
$bg-btn: #cf6f49;
$family-bg: #65665c;
$type-color: #fae8e1;
$title-color: #2a2c1f;
$white: #fff;
$subtitle-bg: #e7e8e3;