.comfort {
  padding-top: 128px;
  padding-bottom: 128px;
  .comfort__wrapper {
    width: 107px;
    height: 29px;
    .comfort__subtitle {
      font-size: 14px;
      line-height: 1.5;
      color: $title-color;
    }
  }
  .comfort__title {
    width: 453px;
    font-size: 48px;
    line-height: 1.2;
    color: $title-color;
    margin-bottom: 28px;
  }
  .comfort__info {
    width: 520px;
    font-size: 18px;
    line-height: 1.5;
    color: $info-color;
    margin-bottom: 21px;
  }
  
  .comfort__img {
    margin-left: 80px;
  }
}
.comfort__btn {
  color: $title-color;
  border: 1px solid $subtitle-bg;
  border-radius: 6px;
  width: 192px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.comfort__link {
  color: $title-color;
  margin-left: 24px;
}