.nav {
  display: flex;
  align-items: center;

  .nav__list {
    display: flex;
    margin-right: 24px;
    .nav__list-link {
      color: $title-color;
    }
    .nav-list__item:not(:last-child) {
      margin-right: 30px;
    }
    .properties__icon {
      margin-left: 4px;
    }
    .search__link-icon {
      margin-right: 4px;
    }
  }
  .nav__buy-list {
    display: flex;
    align-content: center;
    .nav__cart-icon {
      margin-right: 4px;
    }
    .find-property {
      color: $white;
      border: none;
      border-radius: 6px;
      width: 159px;
      height: 42px;
      background: $bg-btn;
      margin-left: 16px;
    }
  }
}
