.cart {
  color: $title-color;
  border: 1px solid $bg-color;
  border-radius: 6px;
  width: 100px;
  height: 42px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
.form__btn {
  font-size: 20px;
  color: #fff;
  border: 1px solid $bg-btn;
  border-radius: 6px;
  width: 154px;
  height: 50px;
  background-color: $bg-btn;
  margin-left: 16px;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
.comfort__btn {
  color: $title-color;
  border: 1px solid $subtitle-bg;
  border-radius: 6px;
  width: 192px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  &:hover {
    cursor: pointer;
  }
}
.families-btn {
  color: $white;
  border: 1px solid $bg-btn;
  border-radius: 6px;
  width: 137px;
  height: 50px;
  background: $bg-btn;
  margin: auto;
  display: block;
  margin-top: 24px;
  &:hover {
    cursor: pointer;
  }
}
.blog__btn {
  width: 108px;
  height: 50px;
  border: 1px solid $subtitle-bg;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: $white;
  &:hover {
    cursor: pointer;
  }
}
.footer__form-btn {
  border: 1px solid $bg-btn;
  border-radius: 6px;
  width: 127px;
  height: 50px;
  background: $bg-btn;
  color: $white;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
  }
}
