.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
.subtitle-wrapper {
  border-radius: 32px;
  width: 100%;
  background: $subtitle-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.magazine__container {
  display: flex;
}
.property__list-container {
  padding-left: 24px;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.blog__description-wrapper {
  display: flex;  
  margin-bottom: 77px;
  justify-content: space-between;
}
.type-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.footer__container {
  display: flex;
}